absl-py==0.12.0
alembic==1.6.5
astunparse==1.6.3
async-generator==1.10
atari-py==0.2.6
attrs==21.1.0
autopage==0.4.0
autopep8==1.5.6
bleach==3.3.0
boto3==1.18.33
botocore==1.21.33
box2d-py==2.3.8
Brotli==1.0.9
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cliff==3.9.0
cloudpickle==1.6.0
cmaes==0.8.2
cmd2==2.1.2
colorama==0.4.4
colorlog==6.4.1
cycler==0.10.0
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
defusedxml==0.7.1
dill==0.3.4
entrypoints==0.3
Flask==1.1.2
Flask-Compress==1.10.1
flatbuffers==1.12
future==0.18.2
gast==0.3.3
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
greenlet==1.1.1
grpcio==1.32.0
gym==0.18.0
gym-cartpole-swingup==0.1.3
h5py==2.10.0
highway-env==1.2
idna==2.10
importlib-metadata==4.0.1
isort==5.9.3
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyterlab-pygments==0.1.2
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Mako==1.1.5
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
mistune==0.8.4
multiprocess==0.70.12.2
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
nptyping==1.4.1
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
optuna==2.9.1
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
pathos==0.2.8
patsy==0.5.1
pbr==5.6.0
Pillow==7.2.0
plotly==5.3.1
poetry-version==0.1.5
pox==0.3.0
ppft==1.6.6.4
prettytable==2.2.0
protobuf==3.15.8
protobuf3-to-dict==0.1.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.1.4
pycodestyle==2.7.0
pygame==2.0.1
pyglet==1.5.0
pyparsing==2.4.7
pyperclip==1.8.2
pyrsistent==0.17.3
python-editor==1.0.4
pytz==2021.1
PyYAML==5.4.1
pyzmq==20.0.0
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
s3transfer==0.5.0
sagemaker==2.59.1
sb3-contrib==1.1.0
scipy==1.6.3
seaborn==0.11.1
smdebug-rulesconfig==1.0.1
snakeviz==2.1.0
SQLAlchemy==1.4.23
stable-baselines==2.10.2
stable-baselines3==1.1.0
statsmodels==0.12.2
stevedore==3.4.0
tenacity==8.0.1
tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
testpath==0.4.4
toml==0.10.2
tomlkit==0.5.11
torch==1.8.1
torch-tb-profiler==0.1.0
tqdm==4.62.0
typing-extensions==3.7.4.3
typish==1.9.2
urllib3==1.26.3
webencodings==0.5.1
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.4.1